{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

    {% image page.banner_image width-1500 as img %}

    <div class="p-5 mb-4 bg-light rounded-3" style="background-image: url('{{ img.url}}');background-size: cover; background-position: center center; color: #fff !important;">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ page.banner_title }}</h1>
            {{ page.banner_subtitle|richtext }}
            {% if page.banner_cta %}
                <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
            {% endif %}
        </div>
    </div>
{% endblock %}